https://www.youtube.com/watch?v=9c9qhIcB3NA&list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3&index=33

# **Array values from user in python**

In [ ]:
from array import *
arr = array('i',[5,2,4,5,2,5,2,5])
print(arr)

array('i', [5, 2, 4, 5, 2, 5, 2, 5])

In [ ]:
from array import *
arr = array('i',[])

n = int(input("Enter the lenth of ARRAY :  "))

for i in range(n):
  x = int(input("Enter the next Value :  "))
  arr.append(x)

print(arr)

Enter the lenth of ARRAY :  5
Enter the next Value :  5
Enter the next Value :  5
Enter the next Value :  5
Enter the next Value :  5
Enter the next Value :  5
array('i', [5, 5, 5, 5, 5])

In [ ]:
from array import *
arr = array('i',[])

n = int(input("Enter the lenth of ARRAY :  "))

for i in range(n):
  x = int(input("Enter the next Value :  "))
  arr.append(x)

print(arr)

Enter the lenth of ARRAY :  8
Enter the next Value :  5
Enter the next Value :  25
Enter the next Value :  5
Enter the next Value :  2
Enter the next Value :  5
Enter the next Value :  65
Enter the next Value :  9
Enter the next Value :  5
array('i', [5, 25, 5, 2, 5, 65, 9, 5])

In [ ]:
from array import *
arr = array('i',[])

n = int(input("Enter the lenth of ARRAY :  "))

for i in range(n):
  x = int(input("Enter the next Value :  "))
  arr.append(x)

print(arr)

Enter the lenth of ARRAY :  5
Enter the next Value :  52
Enter the next Value :  2
Enter the next Value :  52
Enter the next Value :  29
Enter the next Value :  5
array('i', [52, 2, 52, 29, 5])

In [ ]:
from array import *
arr = array('i',[])

n = int(input("Enter the lenth of ARRAY :  "))

for i in range(n):
  x = int(input("Enter the next Value :  "))
  arr.append(x)

print(arr)

val = int(input("Enter the value for search "))

k=0

for e in arr:
  if e==val:
    print(k)
    break
  k=k+1

Enter the lenth of ARRAY :  5
Enter the next Value :  565
Enter the next Value :  21
Enter the next Value :  2
Enter the next Value :  1
Enter the next Value :  3
array('i', [565, 21, 2, 1, 3])
Enter the value for search 3
4

In [ ]:
from array import *
arr = array('i',[])

n = int(input("Enter the lenth of ARRAY :  "))

for i in range(n):
  x = int(input("Enter the next Value :  "))
  arr.append(x)

print(arr)

val = int(input("Enter the value for search "))

k=0

for e in arr:
  if e==val:
    print(k)
    break
  k=k+1

print(arr.index(val))

Enter the lenth of ARRAY :  3
Enter the next Value :  5
Enter the next Value :  6
Enter the next Value :  7
array('i', [5, 6, 7])
Enter the value for search 5
0
0

In [ ]:
from array import *

abc = array('i',(1,2,3,4,5))
print(abc)

array('i', [1, 2, 3, 4, 5])

In [ ]:
from array import *

abc=array('i',())

n=int(input("Enter the length of array "))

for i in range (n):
  k=int(input("Enter the array"))
  abc.append(k)

print(abc)

Enter the length of array 2
Enter the array1
Enter the array2
array('i', [1, 2])