

The for...else construct in Python is a unique feature that allows you to execute a block of code in the else clause if the for loop completes without encountering a break statement. Here's a concise explanation and example:

Syntax
for item in iterable:
    # Loop body
    if condition:
        break  # Exit the loop prematurely
else:
    # Executes only if the loop wasn't terminated by 'break'


Key Points

The else block is not executed if the loop is terminated by a break.
It is executed if the loop completes all iterations or if the iterable is empty.


Example 1: Loop Completes Normally
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num == 10:  # This condition is never met
        break
else:
    print("Loop completed without a break.")
# Output: Loop completed without a break.


Example 2: Loop Interrupted by break
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num == 3:  # Condition met, loop breaks
        break
else:
    print("Loop completed without a break.")
# No output from the else block.


Example 3: Empty Iterable
numbers = []

for num in numbers:
    print(num)
else:
    print("The iterable is empty.")
# Output: The iterable is empty.


This construct is particularly useful for scenarios like searching for an item in a collection and handling cases where the item isn't found. It keeps the code clean and avoids the need for additional flags.

https://www.youtube.com/watch?v=38svC3U7hVo&list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3&index=30

In [ ]:
x=5,10

for y in x:
  if y%5==0:
    print("Divisble by 5")

Divisble by 5
Divisble by 5

In [ ]:
x=[5,10,13]

for y in x:
  if y%5==0:
    print("Divisble by 5")
  else:
    print("Not Divisble by 5")

Divisble by 5
Divisble by 5
Not Divisble by 5

In [ ]:
x=5,10

for y in x:
  if y%5==0:
    print("Divisble by 5")
    break

Divisble by 5

In [ ]:
x=5,10,15,20,60,32,33,13,89

for y in x:
  if y%5==0:
    print("Divisble by 5")
    break
  else:
    print("Not divisble by 5")

Divisble by 5

In [ ]:
x=5,10,15,20,60,32,33,13,89

for y in x:
  if y%5==0:
    print("Divisble by 5")
  else:
    print("Not divisble by 5")

Divisble by 5
Divisble by 5
Divisble by 5
Divisble by 5
Divisble by 5
Not divisble by 5
Not divisble by 5
Not divisble by 5
Not divisble by 5

In [ ]:
x=5,10,15,20,60,32,33,13,89

for y in x:
  if y%5==0:
    print("Divisble by 5")
    continue
  else:
    print("Not divisble by 5")

Divisble by 5
Divisble by 5
Divisble by 5
Divisble by 5
Divisble by 5
Not divisble by 5
Not divisble by 5
Not divisble by 5
Not divisble by 5

In [ ]:
x=5,10,15,20,60,32,33,13,89

for y in x:
  if y%5==0:
    print("Divisble by 5")
    pass
  else:
    print("Not divisble by 5")

Divisble by 5
Divisble by 5
Divisble by 5
Divisble by 5
Divisble by 5
Not divisble by 5
Not divisble by 5
Not divisble by 5
Not divisble by 5

In [ ]:
x=5,10,15,20,60,32,33,13,89

for y in x:
  if y%5==0:
    print("Divisble by 5")
    break
  else:
    print("Not divisble by 5")

Divisble by 5

In [ ]:
z=[69,5,10,15,20,60,32,33,13,89]

for y in z:
  if y%7==0:
    print("Divisble by 5")
    break
else:
  print("Not divisble by 5")

Not divisble by 5

In [ ]:
z=[69,5,10,15,20,60,32,33,13,89]

for y in z:
  if y%7==0:
    print("Divisble by 5")
else:
  print("Not divisble by 5")

Not divisble by 5

In [ ]:
z=[69,5,10,15,20,60,32,33,13,89,49]

for y in z:
  if y%7==0:
    print("Divisble by 5")
    #break
  else:
    print("Not divisble by 5")

Not divisble by 5
Not divisble by 5
Not divisble by 5
Not divisble by 5
Not divisble by 5
Not divisble by 5
Not divisble by 5
Not divisble by 5
Not divisble by 5
Not divisble by 5
Divisble by 5