https://www.w3schools.com/python/python_strings.asp


Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [1]:
print("Hello")
print('Hello')

Hello
Hello

In [2]:
print("I am yas'wanth")

I am yas'wanth

In [3]:
print("Hello 'hi")

Hello 'hi

In [4]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [5]:
a="Hello"
print(a)

Hello

Multiline Strings
You can assign a multiline string to a variable by using three quotes:


Multi line strings can be written either with the single quotes or double quotes


'''  _____________'''

""" ________________"""

In [6]:
a =""" 

Yaswanth 

A 

Networking 


Python 

AUtomation 

"""

print(a)

Yaswanth

A

Networking


Python

AUtomation

In [7]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [8]:
a='''sjnjsfs
sndjkfgb



sfgjnsdjndg



sgfnsfj'''


print(a)

sjnjsfs
sndjkfgb



sfgjnsdjndg



sgfnsfj

Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [9]:
a="Hello World"

print(a[1])

e

In [12]:
a='yasantg'
print(a[5])

t

In [13]:
a='yasantg'
print(a[10])

IndexError: string index out of range

In [14]:
a='yasantg'
print(a[-5])

s

In [15]:
a='yasantg'
print(a[-15])

IndexError: string index out of range

In [16]:
for x in "banana":
    print(x)

b
a
n
a
n
a

String Length
To get the length of a string, use the len() function.

In [18]:
a="Hello 'world'"

print(len(a))

print(a[10])

13
l

Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [20]:
al="I am an network automation engineer and learn python"

print("network" in al)

True

In [22]:
txt = "The best things in life are free!"
print("free" in tx)

NameError: name 'tx' is not defined

In [23]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [26]:
txt = "The best things in life are free!"
print("home" in txt)

False

In [27]:
txt = "The best things in life are free!"
print("fre" in txt)

True

In [28]:
txt =" I am network automation engineer"

if "network" in txt:
    print("Yes, It is correct")

Yes, It is correct

In [30]:
txt =" I am network automation engineer"

if "new" in txt:
    print("Yes, It is correct")
else:
    print("It is false")

It is false

In [31]:
txt ="I am network automation enginer"

print("network" not in txt)

False

In [32]:
txt ="I am network automation enginer"

print("new" not in txt)

True

In [33]:
txt =" UI am network automation engineer"

if "network" not in txt:
    print("It is correct")

In [35]:
txt =" UI am network automation engineer"

if "network" not in txt:
    print("It is correct")
else:
    print(" It is false")

 It is false

In [34]:
txt =" UI am network automation engineer"

if "new" not in txt:
    print("It is correct")

It is correct

https://www.w3schools.com/python/python_strings_slicing.asp

Slicing
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [36]:
a="Yassawanth"

print(a[1:5])

assa

In [37]:
a="Yassawanth"

print(a[:5])

Yassa

In [38]:
a="Yassawanth"

print(a[5:])

wanth

In [41]:
a="Yassawanth"

print(a[-1:-3])

In [42]:
a="Yassawanth"

print(a[-5:-3])

wa

In [43]:
"yaswanth".upper()

'YASWANTH'

https://www.w3schools.com/python/python_strings_modify.asp

Upper case

In [44]:
a='yaswanth'
print(a.upper())

YASWANTH

In [45]:
a='yaswanthg "automation"'
print(a.upper())

YASWANTHG "AUTOMATION"

Lower Case

In [46]:
a="HELLO, 'JNFJNJF"

print(a.lower())

hello, 'jnfjnjf

Remove Whitespace
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

Example
The strip() method removes any whitespace from the beginning or the end:

In [47]:
a="yaswabtg   'alam'"

print(a.strip())

yaswabtg   'alam'

In [49]:
a="        yaswabtg'alam'            "

print(a.strip())

yaswabtg'alam'

Replace String

The replace() method replaces a string with another string:

In [50]:
a="yaswanth"
print(a.replace("a","s"))

ysswsnth

In [51]:
a="yaswanth"
print(a.replace("H","s"))

yaswanth

In [52]:
a="yaswanth"
print(a.replace("s","H"))

yaHwanth

Split String
The split() method returns a list where the text between the specified separator becomes the list items.


Example
The split() method splits the string into substrings if it finds instances of the separator:

In [53]:
a = "Hello, World!"
b = a.split(",")
print(b)

['Hello', ' World!']

In [54]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [55]:
b="yaswanth , alam!@"

print(b.split(","))

['yaswanth ', ' alam!@']

In [56]:
b="I am network automation enginer , and learning python is best "

print(b.split(","))

['I am network automation enginer ', ' and learning python is best ']

In [57]:
b="I am network automation enginer , and learning python is best "

print(b.split("and"))

['I am network automation enginer , ', ' learning python is best ']

https://www.w3schools.com/python/python_strings_concatenate.asp


Python - String Concatenation

In [58]:
a="yaswanth"
b="alam"

c=a+b

print(c)

yaswanthalam

In [59]:
a="yaswanth"
b="alam"

c=a-b

print(c)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [60]:
a="yaswanth"
b="alam"

c=a*b

print(c)

TypeError: can't multiply sequence by non-int of type 'str'

In [61]:
a='hi'
b='yaswanth'
print(a+b)

hiyaswanth

Example
To add a space between them, add a " ":

In [62]:
a='yaswanth'
b='alam'

c=a+' '+b

print(c)

yaswanth alam

https://www.w3schools.com/python/python_strings_format.asp


Python - Format - Strings

In [63]:
age=541854584

b="I am the network enginer " + age

print(b)

TypeError: can only concatenate str (not "int") to str

In [64]:
age="854541515"

b="I am the network enginer " + age

print(b)

I am the network enginer 854541515

In [65]:
age="sjhfgujdnju"

b="I am the network enginer " + age

print(b)

I am the network enginer sjhfgujdnju

F-Strings
F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [66]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [67]:
age=545485485

a=f"I am netwiork enginer with , the years of work and {age}"

print(a)

I am netwiork enginer with , the years of work and 545485485

In [72]:
b=5415145

a=f"I am an enginner , {b},enginner with wotk and {b}"

print(b)
print(id(b))
print(a)
print(id(a))

5415145
1528682149936
I am an enginner , 5415145,enginner with wotk and 5415145
1528683168688

Placeholders and Modifiers
A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [73]:
price = 59

a=f"The network enginn er and the wpork ,enginer work {price}"

print(a)

The network enginn er and the wpork ,enginer work 59

A placeholder can include a modifier to format the value.

A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

In [74]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [76]:
a=515

b=f"The network engin er {a:.2f}"

print(b)

The network engin er 515.00

In [78]:
b=48514541


a=f"I am the netwokr wengi  and the eng  {b : .5f}"

print(a)

I am the netwokr wengi  and the eng   48514541.00000

In [79]:
txt = f"I am an enginer and {20*58} hefheb"
print(txt)

I am an enginer and 1160 hefheb

In [80]:
a=int(input("Enter the number for a "))
b=int(input("Enter the numbver for b"))

c=f"the network is enginner {a*b}, the name is "

print(c)

the network is enginner 6105, the name is

In [81]:
a=int(input("Enter the number for a "))
b=int(input("Enter the numbver for b"))

c=f"the network is enginner {a*b}, the name is "

print(c)

the network is enginner 4, the name is

In [82]:
print(f"The value of the sums is {5+8}")

The value of the sums is 13

https://www.w3schools.com/python/python_strings_escape.asp


Escape Character

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [83]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (4106093343.py, line 1)

In [84]:
a="The bnynber of the anme "enter" the name iodf "
print(a)

SyntaxError: invalid syntax (1501739161.py, line 1)

In [85]:
a="The bnynber of the anme \"enter\" the name iodf "
print(a)

The bnynber of the anme "enter" the name iodf

In [86]:
a="my name is yaswanth \"alam\" the network engineer"
print(a)

my name is yaswanth "alam" the network engineer

In [87]:
b='The network \"the enginner\" enginner '
print(b)

The network "the enginner" enginner

In [88]:
c=" The network is \'enginner and the\' the enginer "
print(c)

 The network is 'enginner and the' the enginer

Escape Characters
Other escape characters used in Python:

Code	Result	
\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

In [89]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [90]:
a='alam \'ala'
print(a)

alam 'ala

In [91]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [92]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [93]:
a="I am yaswanth \n alam"
print(a)

I am yaswanth
 alam

In [94]:
txt = "Hello\rWorld!"
print(txt)

World!

In [95]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [96]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

In [97]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [98]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

https://www.w3schools.com/python/python_strings_methods.asp



String Methods
Python has a set of built-in methods that you can use on strings.


Note: All string methods return new values. They do not change the original string.


Method	Description
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning